<div class="container py-5">
    <h1 class="display-6 text-center mb-5">Jeu de mémoire</h1>

    <div class="d-flex flex-column">
        <div class="mx-auto">
            <div id="gameArea" class="bg-white p-3 d-flex flex-column"></div>
            <div class="d-flex justify-content-between p-3">
                <p>Temps restant: 3 minutes</p>
                <p>Paires trouvées: <span id="cardPairsFound">0</span>/14</p>
            </div>
        </div>
    </div>

</div>