<div class="container">
    <h1 class="text-center">Jeu de mémoire</h1>

    <div id="launchGame">
        <form class="mx-auto w-75" method="POST" action="/game">
            <div class="form-group">
                <label for="launchGamePseudoInput">Votre nom</label>
                <input type="text" id="launchGamePseudoInput" placeholder="Ex: John DOE" class="form-control" name="pseudo">
            </div>
            <div class="d-flex">
                <button type="submit" class="mx-auto">Jouer !</button>
            </div>
        </form>
    </div>

    <div class="d-flex flex-column" id="scoreBoard">
        <h2 class="text-center fw-normal">Podium</h2>
        <table>
            <thead>
                <th>Position</th>
                <th>Score</th>
                <th>Nom</th>
            </thead>
            <tbody>
                {{#each games as |game i|}}

                    <tr>
                        <td>
                            {{#if (isFirst i)}}
                                <span><i class="fa-solid fa-crown text-gold m-auto"></i></span>
                            {{/if}}
                            {{#if (isSecond i)}}
                                <span><i class="fa-solid fa-star text-silver m-auto"></i></span>
                            {{/if}}
                            {{#if (isThird i)}}
                                <span><i class="fa-solid fa-star text-bronze m-auto"></i></span>
                            {{/if}}
                            <span class="fw-bold">#{{indexPlusOne i}}</span>
                        </td>
                        <td>
                            {{#if game.time.minutes}}
                                <span>{{game.time.minutes}} minutes et </span>
                            {{/if}}
                                <span> {{game.time.seconds}} secondes</span>
                        </td>
                        <td>{{game.user.pseudo}}</td>
                    </tr>

                {{/each}}
            </tbody>
        </table>
    </div>

</div>